setuptools>=65.5
pyyaml
numpy<2.0
mako
pytest
# TVM specific
typing-extensions
psutil
scipy
decorator
attrs
pybind11
# ZigZag specific
networkx
sympy
matplotlib
onnx==1.17
tqdm
multiprocessing_on_dill